*{
  background-color: #9DB5B2;
}
.page-name{
  font-size: 32px;
  color: cornflowerblue;
}

.banner{
  color: rgb(35, 91, 150);
  background: url(./images/jess-bailey-UHqfUTDmdC4-unsplash.jpg)top left/cover no-repeat;
  height: 300px;
}
.banner-text{
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  justify-content: end;
  flex-direction: row;
  text-align: end;
}
.nav_links li {
  display:inline-block;
  padding: 0px 20px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 100%;
}

.flexbox-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 5px;
  font-size: 30px;
  
}
.box1 {
  min-height: 100px;
  flex-basis: auto;
}
.box2 {
  min-height: 200px;
  flex-basis: 200px;


}
.flex2{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  font-size: 30px;
}
.box1 {
  font-size: 40px;
}
.box2{
  font-size: 20px;
}
.flex3{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 30px;
}
.contactbox{
  font-size: 30px;
  flex-direction: row;
  flex-wrap: nowrap;
 
}
.contactlinks {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
  justify-content: end;
  text-align: end;
  letter-spacing: 4px;
  
}

.worklinks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 30px;
}
.surfing{
  width: 800px;
  height: 400px;

}
.surfingimage{
background-image: url("./images/surfing.jpg");
color: rgb(35, 91, 150);
text-shadow: cadetblue;
cursor: pointer;
}
.surfingimage:hover{
  background-size: 500px;
}

.ledwall{
  width: 400px;
  height: 400px;
}

.ledimage{
  background-image: url("./images/led-wall.jpg");
  color: rgb(35, 91, 150);
  text-shadow: #ffffff;
  cursor: pointer;
}
.ledimage:hover{
  background-size: 500px;
}
.calculator{
  width: 400px;
  height: 400px;
}
.calcimage{
  background-image: url("./images/calculator.jpg");
  color: rgb(35, 91, 150);
  cursor: pointer;
}
.calcimage:hover{
  background-size: 500px;
}
.pastel{
  width: 400px;
  height: 400px;
}
.puzzelimage{
  background-image: url("./images/pastel-puzzle.jpg");
  color: rgb(35, 91, 150);
  cursor: pointer;
}
.puzzelimage:hover{
background-size: 500px;
}
.runbuddy{
  width: 400px;
  height: 400px;
}
.runimage{
  background-image: url("./images/run-buddy.jpg");
  color: rgb(35, 91, 150);
  cursor: pointer;
}
.runimage:hover{
  background-size: 500px;
}